<a style="color: white; font-size: 20dp;" href="/">HOME</a>
<a style="color: white; font-size: 20dp;"href="/uploader">Upload</a>
<a style="color: white; font-size: 20dp;"href="/deletefile">Delete</a>
<br><hr>
<h1>IBM Object Storage</h1>



<!doctype html>
<html>
    <head>
        <title>IBM Object Storage</title>
        <link rel="stylesheet" href="https://ibm-objectstorage12345.s3.jp-tok.cloud-object-storage.appdomain.cloud/styles.css">
    </head>
      <body>
      {% for row in files %}
      <center>
        <div style="border: 1px solid #EFEFEF;margin:10px;">
            <h3>Image Name : {{row}} </h3>
            <img src="https://ibm-objectstorage12345.s3.jp-tok.cloud-object-storage.appdomain.cloud/{{row}}" width="500px"></td>
         </div>
      </center>
         
      {% endfor %}
   </body>
</html>